.newsSearchFormPanel,
.careHomeIntroPanel {
  .intro {
    &__titleOne {
      @extend %h3;
      margin-bottom: 20px;
    }
    &__titleTwo {
      @extend %h6;
      margin-top: 30px;
    }
  }
  h6 {
    margin-top: 30px;
  }
}

.newsPanel {
  &__main,
  .article__tileWraper {
    position: relative;
    margin-bottom: 30px;
    @include media-breakpoint-up(lg) {
      margin-bottom: 60px;
    }
  }
  &__main--fixed {
    .article__tileWraper {
      position: fixed;
      top: 104px;
    }
  }
  &__main--absolute {
    .article__tileWraper {
      position: absolute;
      bottom: -60px;
    }
  }
}
