.outlinedPromo {
  @extend %standardGap;
  &__wrapper {
    position: relative;
    border: 3px solid map-get($palette, purpleTwo);
    margin: 0;
  }

  &__content {
    padding-bottom: 30px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: flex-start;
    @include media-breakpoint-up(lg) {
      min-height: 320px;
      padding-bottom: 60px;
    }
  }

  &__title {
    background-color: map-get($palette, offWhite);
    position: absolute;
    display: inline-block;
    padding: 5px 15px;
    left: 15px;
    top: -28px;
    max-width: calc(100% - 30px);
    @extend %h2;
    @include media-breakpoint-up(lg) {
      top: -40px;
    }
  }
  &__text {
    @include font($family: $font-family--medium, $height: 26px, $size: 20px, $colour: map-get($palette, greyOne));
    margin-bottom: 50px;
    @include media-breakpoint-up(lg) {
      font-size: 24px;
      line-height: 35px;
    }
  }
  &__image {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    img {
      max-width: 300px;
      @include media-breakpoint-up(lg) {
        max-width: 400px;
        margin-top: -40px;
      }
    }
  }
}
