<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Frontend templates</title>
    <script type="module" src="../js/main.js"></script>
    <link rel="stylesheet" href="../scss/main.scss" />
  </head>
  <body class="theme--careuk">
    <include src="./src/layout/header.html"></include>
    <include src="./src/components/heroPanel.html"></include>
    <include src="./src/components/carousel--awards.html"></include>
    <include src="./src/layout/footer.html"></include>
  </body>
</html>
