<div class="carousel carouselAwards">
  <div class="carousel__wrapper">
    <div class="carouselAwards__sliders" data-autoplay="3000">
      <div class="carouselAwards__item">
        <div class="carouselAwards__item--wrapper">
          <picture class="carouselAwards__img">
            <img src="../img/carousel-awards-img1.png" alt="" />
          </picture>
          <div class="carouselAwards__content">
            <p class="bigger">
              Gold Winner 2020 1<br />
              Best Larger Care Home Group<br />
            </p>
            <p>
              Gold Winner 2020 1<br />
              Best Larger Care Home Group<br />
            </p>
            <a href="#"> guideArticlePage url </a>
            <a href="#" class="button button__secondary--hollow">guideArticlePage</a>
          </div>
        </div>
      </div>
      <div class="carouselAwards__item">
        <div class="carouselAwards__item--wrapper">
          <picture class="carouselAwards__img">
            <img src="../img/carousel-awards-img1.png" alt="" />
          </picture>
          <div class="carouselAwards__content">
            <p class="bigger">
              Gold Winner 2020 2<br />
              Best Larger Care Home Group<br />
              Care Home Awards
            </p>
          </div>
        </div>
      </div>
      <div class="carouselAwards__item">
        <div class="carouselAwards__item--wrapper">
          <picture class="carouselAwards__img">
            <img src="../img/carousel-awards-img1.png" alt="" />
          </picture>
          <div class="carouselAwards__content">
            <p class="bigger">
              Gold Winner 2020<br />
              Best Larger Care Home Group<br />
              Care Home Awards
            </p>
          </div>
        </div>
      </div>
      <div class="carouselAwards__item">
        <div class="carouselAwards__item--wrapper">
          <picture class="carouselAwards__img">
            <img src="../img/carousel-awards-img1.png" alt="" />
          </picture>
          <div class="carouselAwards__content">
            <p class="bigger">
              Gold Winner 2020<br />
              Best Larger Care Home Group<br />
              Care Home Awards
            </p>
          </div>
        </div>
      </div>
      <div class="carouselAwards__item">
        <div class="carouselAwards__item--wrapper">
          <picture class="carouselAwards__img">
            <img src="../img/carousel-awards-img1.png" alt="" />
          </picture>
          <div class="carouselAwards__content">
            <p class="bigger">
              Gold Winner 2020<br />
              Best Larger Care Home Group<br />
              Care Home Awards
            </p>
          </div>
        </div>
      </div>
      <div class="carouselAwards__item">
        <div class="carouselAwards__item--wrapper">
          <picture class="carouselAwards__img">
            <img src="../img/carousel-awards-img1.png" alt="" />
          </picture>
          <div class="carouselAwards__content">
            <p class="bigger">
              Gold Winner 2020<br />
              Best Larger Care Home Group<br />
              Care Home Awards
            </p>
          </div>
        </div>
      </div>
      <div class="carouselAwards__item">
        <div class="carouselAwards__item--wrapper">
          <picture class="carouselAwards__img">
            <img src="../img/carousel-awards-img1.png" alt="" />
          </picture>
          <div class="carouselAwards__content">
            <p class="bigger">
              Gold Winner 2020<br />
              Best Larger Care Home Group<br />
              Care Home Awards
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
