<header class="header">
  <div class="header__wrapper">
    <div class="header__umbrella">
      <div class="header__umbrella-links">
        <a class="header__umbrella-link selected" href="#">Individuals & Families</a>
        <a class="header__umbrella-link" href="#">Careers</a>
        <a class="header__umbrella-link" href="#">Healthcare partners</a>
        <a class="header__umbrella-link" href="#">Healthcare partners2</a>
      </div>
    </div>
    <div class="header__navigation">
      <div class="container">
        <div class="row align-items-center header__navwrapper">
          <div class="col-8 col-lg-8">
            <div class="header__logo">
              <div class="navicon">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
              </div>
              <picture class="header__logo--image">
                <img src="../img/careuk.png" alt="Care UK" />
              </picture>
              <div class="header__carehomeTitle d-none d-lg-block">Mercia Grange Care Home</div>
            </div>
          </div>
          <div class="col-4 col-lg-4 d-flex justify-content-end">
            <!-- <a class="header__shortcut findjobs" href="#">
                            <span class="icon-jobsearch"></span>
                            Find a job
                        </a> -->
            <a class="header__shortcut carehomesearch" href="#">
              <span class="icon-carehomesearch"></span>
              <span class="d-none d-lg-block">Find a care home</span>
              <span class="d-block d-lg-none">Find a home</span>
            </a>
            <a class="header__shortcut call" data-bs-toggle="modal" data-bs-target="#contactPanelModal">
              <span class="icon-call"></span>
              Contact us
            </a>
            <a class="header__shortcut favourite d-none" href="#">
              <span class="icon-favourite"></span>
              Favourites
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="navigation">
    <div class="container navigation__wrapper">
      <span class="navigation__backbtnone"> < Back</span>
      <span class="navigation__backbtntwo"> < Back</span>
      <ul class="rootlevel">
        <li><a href="#">Home</a></li>
        <li class="hasSublevel selected">
          Our care homes
          <ul class="sublevelOne">
            <li><a href="#">Where do I start 1</a></li>
            <li><a href="#">Choosing a care home</a></li>
            <li class="hasSublevel selected">
              Visiting us
              <ul class="sublevelTwo">
                <li><a href="#">Visiting us 1 </a></li>
                <li><a href="#">Choosing a care home</a></li>
                <li><a href="#">Visiting us</a></li>
                <li class="selected"><a href="#">Our Customer Care team</a></li>
                <li><a href="#">Visiting us 1 </a></li>
                <li><a href="#">Choosing a care home</a></li>
                <li><a href="#">Visiting us</a></li>
                <li><a href="#">Our Customer Care team</a></li>
                <li><a href="#">Visiting us 1 </a></li>
                <li><a href="#">Choosing a care home</a></li>
                <li><a href="#">Visiting us</a></li>
                <li><a href="#">Our Customer Care team</a></li>
              </ul>
            </li>
            <li><a href="#">Our Customer Care team</a></li>
            <li class="hasSublevel">
              What affect cost
              <ul class="sublevelTwo">
                <li><a href="#">Visiting us 12 </a></li>
                <li><a href="#">Choosing a care home</a></li>
                <li><a href="#">Visiting us</a></li>
                <li><a href="#">Our Customer Care team</a></li>
                <li><a href="#">Visiting us 1 </a></li>
                <li><a href="#">Choosing a care home</a></li>
                <li><a href="#">Visiting us</a></li>
                <li><a href="#">Our Customer Care team</a></li>
                <li><a href="#">Visiting us 1 </a></li>
                <li><a href="#">Choosing a care home</a></li>
                <li><a href="#">Visiting us</a></li>
                <li><a href="#">Our Customer Care team</a></li>
              </ul>
            </li>
            <li><a href="#">Moving in</a></li>
            <li class="hasSublevel">
              FAQs
              <ul class="sublevelTwo">
                <li><a href="#">Visiting us 13 </a></li>
                <li><a href="#">Choosing a care home</a></li>
                <li><a href="#">Visiting us</a></li>
                <li><a href="#">Our Customer Care team</a></li>
                <li><a href="#">Visiting us 1 </a></li>
                <li><a href="#">Choosing a care home</a></li>
                <li><a href="#">Visiting us</a></li>
                <li><a href="#">Our Customer Care team</a></li>
                <li><a href="#">Visiting us 1 </a></li>
                <li><a href="#">Choosing a care home</a></li>
                <li><a href="#">Visiting us</a></li>
                <li><a href="#">Our Customer Care team</a></li>
              </ul>
            </li>
          </ul>
        </li>
        <li class="hasSublevel">
          Where do I start
          <ul class="sublevelOne">
            <li><a href="#">Where do I start 2 </a></li>
            <li><a href="#">Choosing a care home</a></li>
            <li class="hasSublevel">Visiting us</li>
            <li><a href="#">Our Customer Care team</a></li>
            <li class="hasSublevel">What affect cost</li>
            <li><a href="#">Moving in</a></li>
            <li class="hasSublevel">FAQs</li>
            <li class="hasSublevel">FAQs 2</li>
            <li class="hasSublevel">FAQs 3</li>
          </ul>
        </li>
        <li class="hasSublevel">
          Life at a Care UK home
          <ul class="sublevelOne">
            <li><a href="#">Where do I start 3</a></li>
            <li><a href="#">Choosing a care home</a></li>
            <li class="hasSublevel">Visiting us</li>
            <li><a href="#">Our Customer Care team</a></li>
            <li class="hasSublevel">What affect cost</li>
            <li><a href="#">Moving in</a></li>
            <li class="hasSublevel">FAQs</li>
          </ul>
        </li>
        <li class="hasSublevel">
          Types of care we offer
          <ul class="sublevelOne">
            <li><a href="#">Where do I start 4</a></li>
            <li><a href="#">Choosing a care home</a></li>
            <li class="hasSublevel">Visiting us</li>
            <li><a href="#">Our Customer Care team</a></li>
            <li class="hasSublevel">What affect cost</li>
            <li><a href="#">Moving in</a></li>
            <li class="hasSublevel">FAQs</li>
          </ul>
        </li>
        <li class="hasSublevel">
          How we serve you
          <ul class="sublevelOne">
            <li><a href="#">Where do I start 5</a></li>
            <li><a href="#">Choosing a care home</a></li>
            <li class="hasSublevel">Visiting us</li>
            <li><a href="#">Our Customer Care team</a></li>
            <li class="hasSublevel">What affect cost</li>
            <li><a href="#">Moving in</a></li>
            <li class="hasSublevel">FAQs</li>
          </ul>
        </li>
        <li class="hasSublevel">
          Help & Advice
          <ul class="sublevelOne">
            <li><a href="#">Where do I start 6</a></li>
            <li><a href="#">Choosing a care home</a></li>
            <li class="hasSublevel">Visiting us</li>
            <li><a href="#">Our Customer Care team</a></li>
            <li class="hasSublevel">What affect cost</li>
            <li><a href="#">Moving in</a></li>
            <li class="hasSublevel">FAQs</li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</header>
