<div class="heroPanel heroPanel__background">
  <div class="container">
    <div class="col-12 heroPanel__content">
      <div class="heroPanel__text">
        <h1>Trusted to care</h1>
        <p class="loopingText__fallback">
          LOOPING Experts in award winning care Experts in award winning care, Experts in award winning careExperts in
          award winning care
        </p>
        <p class="loopingText d-none v-hidden">
          LOOPING Experts in award winning care Experts in award winning care, <br />Experts in award winning
          careExperts in award winning care| Experts in award winning care2, Experts in 3, winning care4
        </p>
      </div>
      <a href="#" class="button button__secondary--white">Find a home</a>
    </div>
    <div class="heroPanel__scroll">Scroll</div>
  </div>
</div>

<style>
  .heroPanel__background {
    background-image: url('../img/hero-img1.png');
  }
  /* mobile image requires res above 768x340 */
  @media only screen and (min-width: 768px) {
    .heroPanel__background {
      background-image: url('../img/hero-img1.png');
    }
  }
  /* desktop image requires res above 1920x600 */
</style>
