//COLOURS
$palette: (
  black: #000000,
  white: #ffffff,
  offWhite: #fafafa,
  purple: #560a61,
  purpleTwo: #e9e1eb,
  purpleThree: #f6f3f7,
  purpleThemeTwo: #9c087b,
  purpleThemeThree: #321267,
  purpleBg: rgba(86, 10, 106, 0.8),
  purpleThemeTwoBg: rgba(156, 8, 123, 0.8),
  purpleThemeThreeBg: rgba(50, 18, 103, 0.8),
  greyOne: #333333,
  greyTwo: #999999,
  greyThree: #707070,
  greyFour: rgba(255, 255, 255, 0.2),
  greyFive: #eaeaea,
  greySix: #aaacad,
  darkBlue: #151a65,
  darkOrange: #e47002,
  pink: #d7088b,
  blue: #00a8e0,
  green: #96d600,
  lilic: #9748b5,
  orange: #ffa400,
  yellow: #ffd500
);

$font-family: 'ApexRounded-Book', sans-serif;
$font-family--medium: 'ApexRounded-Medium', sans-serif;
$font-family--icon: sans-serif;
