<footer class="footer">
  <div class="footer__wrap">
    <div class="container footer__container">
      <div class="footer__scrolltop button button__secondary--hollow">Top <span class="icon-backtotop"></span></div>
      <div class="row">
        <div class="col-12 col-lg-9">
          <ul class="footer__links">
            <li class="footer__link"><a href="#">Company</a></li>
            <li class="footer__link"><a href="#">Press & Media</a></li>
            <li class="footer__link"><a href="#">Suppliers</a></li>
            <li class="footer__link"><a href="#">Investors</a></li>
            <li class="footer__link"><a href="#">Friends & relatives</a></li>
          </ul>
          <div class="footer__other">
            <a href="#" class="footer__link">Legal & regulatory</a>
            <p>Care UK &copy;2021 - All Rights Reserved</p>
          </div>
        </div>
        <div class="col-12 col-lg-3 d-flex align-items-end">
          <div class="footer__socialmedias">
            <a class="footer__socialmedia icon-facebook" href="#"></a>
            <a class="footer__socialmedia icon-linkedin" href="#"></a>
            <a class="footer__socialmedia icon-twitter" href="#"></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
